body {
  margin: 0;

  background-color: #1a1a1a;
  color: #f0f0f0;
  height: 100%;

  font-family: 'Azeret Mono', monospace;
}

#root {
  height: 100%;
}

html {
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  min-height: 60px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #486a8d;
}

.header > * {
  flex: 1;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website-name {
  font-family: 'Electrolize', sans-serif;
  font-size: 24px;
}

.no-style-link {
  text-decoration: inherit;
  color: inherit;
}

.hamburgerMenuItem {
  margin: 8px 8px 0 8px;
  padding: 8px 16px 8px 16px;
  border-radius: 5px;
}

.active {
  background-color: #3a3a3a;
}

.upload {
  font-family: 'Electrolize', sans-serif;
  font-size: 32px;
}

.nav-right {
  display: flex;
  justify-content: right;
}

.centered-content-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: auto;
}

.content {
  flex: 1;
}

.hamburgerMenu {
  display: flex;
  flex-direction: column;
  background-color: #232324;
  font-family: 'Electrolize', sans-serif;
}

.purple {
  color: #ff00ff;
}
