.gapsTable {
  border-collapse: separate;
  border-spacing: 0;

  font-family: 'Roboto', sans-serif;
}

.gapsTable tr:hover {
  background-color: #3a3a3a;
}

.gapsTable th {
  text-align: center;
}

.gapsTable td {
  text-align: left;
  padding: 2px 4px 2px 4px;
}

.gapsTable td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.gapsTable td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.gapsTable tbody tr:nth-child(odd) {
  background-color: #282828;
  color: #fff;
}
